*,*::before,*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Roboto';
  font-size: 1.5rem;
  background-color: #C4C4C4;
  margin: 0;
}

.app {
  max-width: 660px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 45px;
}

.header {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__search {
  display: block;
  width: 100%;
  height: 60px;
  font-size: 3rem;
  padding: 0.3rem 0.8rem;
}

.header-dropdown {
  font-size: 1.8rem;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: #E3E3E3;
  max-height: 220px;
  overflow-y: auto;
}

.header-dropdown__item {
  padding: 0.3rem 0.8rem;
  border: 3px solid #000;
  border-top: none;
  cursor: pointer;
  height: 44px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.header-dropdown__item:hover {
  background-color: #65CDF9;
}

.header-dropdown__item:first-child {
  border-top: 3px solid #000;
}

.main {
  width: 100%;
  max-width: 500px;
}

.main-list {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: #E27BEB;
}

.main-list__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem 0.5rem 1rem;
  border: 1px solid #000;
  border-top: none;
}



.main-list__item:first-child {
  border-top: 1px solid #000;
}

.main-list__item-close {
  background: transparent;
  border: none;
  position: relative;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.main-list__item-close::before, .main-list__item-close::after {
  position: absolute;
  left: 50%;
  top: 0;
  content: '';
  height: 100%;
  width: 4px;
  background-color: red;
  transform: translate(-50%, -50%);
}
.main-list__item-close::before {
  transform: rotate(45deg);
}
.main-list__item-close::after {
  transform: rotate(-45deg);
}